.wrapper

  = render 'shared/side_bar'

.header

.right-contents
  .header
    .group_detail
      .group_detail__current-group
        = @group.name
      .group_detail__member-list
        Member : 
        - @group.users.each do |user|
          = user.name
    .header__edit-btn
      =link_to "edit", class: "edit-btn" do
        Edit

  .messages
    = render partial: 'message', collection: @messages
    .page_bottom

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message textbox', placeholder: 'type a message', id: "message_text"
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

  -# .footer
  -#   .footer__form
  -#     .form__text
  -#     type a message
  -#     .form__images
  -#       %label
  -#         = fa_icon 'image'
  -#   .footer__send-btn
  -#     Send

