.header

.left-contents
  .header
    .header__username
      = current_user.name
    .header__icon
      .edit
        = fa_icon 'edit'
      .cog
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'

  .groups
    .groups__name
      グループ名1
    .groups__last-message
      ここに最新のメッセージが入る
    .groups__name
      グループ名1
    .groups__last-message
      ここに最新のメッセージが入る
    .groups__name
      グループ名1
    .groups__last-message
      ここに最新のメッセージが入る
    .groups__name
      グループ名1
    .groups__last-message
      ここに最新のメッセージが入る
    .groups__name
      グループ名1
    .groups__last-message
      ここに最新のメッセージが入る
    .groups__name
      グループ名1
    .groups__last-message
      ここに最新のメッセージが入る
    .groups__name
      グループ名1
    .groups__last-message
      ここに最新のメッセージが入る
    .groups__name
      グループ名1
    .groups__last-message
      ここに最新のメッセージが入る


.right-contents
  .header
    .group_detail
      .group_detail__current-group
        現在のグループ名
      .group_detail__member-list
        Member : Aさん,Bさん,Cさん
    .header__edit-btn
      Edit

  .messages
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。
      -# ----------------------------------
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。

  .footer
    .footer__form
      .form__text
      type a message
      .form__images
        %label
          = fa_icon 'image'
    .footer__send-btn
      Send

  