.wrapper

  = render 'shared/side_bar'

.header

.right-contents
  .header
    .group_detail
      .group_detail__current-group
        現在のグループ名
      .group_detail__member-list
        Member : Aさん,Bさん,Cさん
    .header__edit-btn
      = link_to "edit", class: "edit-btn" do
        Edit

  .messages
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。
      -# ----------------------------------
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。
    .messages__title
      .messages__title--user
        テスト
      .messages__title--date
        2019/08/17 15:07
    .messages__text
      ここにテキストが入ります。

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

  -# .footer
  -#   .footer__form
  -#     .form__text
  -#     type a message
  -#     .form__images
  -#       %label
  -#         = fa_icon 'image'
  -#   .footer__send-btn
  -#     Send

